<%= render "card" %>

<div class="mdl-card__title">
  <h3 class="mdl-card__title-text">
    Builds jobs
  </h3>
</div>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%">
  
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">
        Build
      </th>
      <th>Message</th>
      <th>Commit</th>
      <th>Duration</th>
      <th>Finished</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "builds/row", collection: @repo.build_reports, as: :build, locals: { repo: @repo } %>
  </tbody>

</table>