<nav class="mdl-navigation">
  
  <div class="mdl-tabs">
    <div class="mdl-tabs__tab-bar">
        <a href="/profile" class="mdl-tabs__tab is-active">
          Account repos
        </a>
        <a href="/profile" class="mdl-tabs__tab">
          +
        </a>
    </div>

    <div class="mdl-tabs__panel is-active" id="myrepos">

      <ul class="demo-list-icon mdl-list">
        <%= react_component 'RepoCardCollection', url: "/repos/side", kind: "mini" %>
      </ul>

    </div>

  </div>

  <%= yield :sidebar %>
</nav>