
<div class="mdl-grid">

  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#orgs-panel" class="mdl-tabs__tab is-active">  
          Orgs
        </a>
        <a href="#repos-panel" class="mdl-tabs__tab">Repos</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="orgs-panel">

      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">
          Select organization
        </h3>
      </div>

      <% @github_orgs.each do |org| %>
        <ul class="demo-list-icon mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="mdl-list__item-avatar">
                <%= image_tag( org["avatar_url"], width: 60) %>  
              </i>
              
              <h3><%= link_to org["login"], profile_path(org["login"]) %></h3> 
              <p>
                <%= link_to org["url"], org["url"] %>
              </p> 
            </span>
          </li>
        </ul>
      <% end %> 

    </div>

    <div class="mdl-tabs__panel" id="repos-panel">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">
          My Repos
        </h3>
      </div>

      <%= render "repos" %>
    </div>

  </div>
  
</div>
